@charset "utf-8";
body {
    line-height: 1.5;
    font-size: 1em;
    font-family: "Roboto Slab", "Apple SD Gothic Neo", gulim, "굴림", sans-serif;
    text-align: center;
    color: #fff;
    background-color: #1E1F29;
}

a,
a:link {
    color: #fff;
    text-decoration: none;
}

a:hover,
a:active {
    color: #E44F26;
}
strong {
    color:#E44F26;
    font-weight:bold;
}
.header {
    padding-top: 5em;
}

.header_title {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.header_title img {
    max-width: 100%;
}

.section {
    clear: both;
    border-top: 1px solid #333;
    border-bottom: 1px solid #111;
}

.section .inner {
    margin: 0 auto;
    padding: 96px 20px;
}

.section .inner:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
}

.section_title {
    padding-bottom: 0.6em;
    font-size: 3em;
    font-family: "Bungee", "Apple SD Gothic Neo", gulim, "굴림", sans-serif;
    line-height: 1em;
}

.section_organizers .section_title {
    font-size: 2.5em;
}

.section_when .section_title:after {
    background-color: #D02E28;
}

.section_speakers .section_title:after {
    background-color: #2CB2C4;
}

.section_sponsors .section_title:after {
    background-color: #694EA0;
}

.section_location .section_title:after {
    background-color: #E44F26;
}

.section_organizers .section_title:after {
    background-color: #A83F62;
}

.section_title:after {
    content: '';
    display: block;
    width: 60px;
    height: 12px;
    background-color: #F99D21;
    border-radius: 6px;
    margin: 20px auto;
}
.section_description_subject {
    font-size: 1.5em;
    margin-bottom:2em;
}
.section_about_logo img {
    width: 50%;
}
.section_about .section_description_subject {
    font-size: 1.2em;
    padding: 2em 1em 0em;
}

.section_about_item {
    padding: 1.6%;
}

.section_about_item dt {
    font-size: 1.3em;
    font-family: "Roboto Slab", "Apple SD Gothic Neo", gulim, "굴림", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: url('./img/icon_html_32px.png') no-repeat center top;
    padding-top: 1.8em;
    padding-bottom: .7em;
}

.section_about_item dd {
    margin-bottom: 2.5em;
}

.section_about_css dt {
    background-image: url('./img/icon_css_32px.png');
}

.section_about_a11y dt {
    background-image: url('./img/icon_accessibility_32px.png');
}

.section_when_item {
    font-size: 2em;
}

.section_speakers_item li {
    display: inline-block;
    width: 44%;
    padding: 0 2%;
    margin-bottom: 3em;
}

.section_speakers_item .speakers {
    display: inline-block;
}

.speakers_info_photo {
    display: block;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 1em;
}

.speakers_info_photo img {
    max-width: 100%;
}

.section_speakers_item .speakers .name {
    font-size: 1.2em;
    color: #2CB2C4;
    font-weight: bold;
}

.section_speakers_item .speakers .company {
    font-size: 0.9em;
}

.section_sponsors_item li {
    display: inline-block;
    padding: 1em 3em;
}

.section_sponsors_item li img {
    max-width: 100%;
}

.section_tickets_button a {
    display:inline-block;
    font-size:2em;
    width:10em;
    height:2em;
    border-radius:1.2em;
    background-color:#E44F26;
    padding-top:.4em;
}
.section_tickets_button.soldout a {
    background-color:#eee;
    color:#000;
}
.section_tickets_caution {
    max-width:70%;
    margin:4em auto 2em;
    text-align:left;
}
.section_tickets_caution dt {
    font-size:1.5em;
    font-weight:bold;
    border-bottom:1px solid #3a3c4f;
    margin-bottom:1em;
    padding-bottom:.2em;
}
.section_tickets_caution dd {
    text-indent:-20px;
    margin-left:20px;
    margin-bottom:10px;
}
.section_tickets_caution i:after {
    content:'';
    display:inline-block;
    width:8px;
    height:8px;
    margin-right:10px;
    border-top:3px solid #E44F26;
 border-right:3px solid #E44F26;
 -webkit-transform: rotate(45deg);
 transform: rotate(45deg);
}
.section_qna_item {
    margin-bottom: 4em;
}

.section_qna_item .info {

}


/* Media */

@media (min-width: 320px) {}

@media (min-width: 480px) {
    .section_about_logo img {
        width: 30%;
    }
    .section_organizers .section_title {
        font-size: 3.5em;
    }
    .section_about_item {
        float: left;
        width: 30%;
        padding: 1.6%;
    }
}

@media (min-width: 768px) {
    .section_title {
        font-size: 4.5em !important;
    }
    .section_about_logo img {
        width: 20%;
    }
    .section_about .section_description_subject {
        font-size: 1.4em;
    }
    .section_speakers_item li {
        width: 27%;
        padding: 0 2.5%;
        margin-bottom: 5em;
    }
    .section_speakers_item .speakers .name {
        font-size: 1.7em;
    }
    .section_speakers_item .speakers .company {
        font-size: 1.3em;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .section .inner {
        width: 1140px
    }
}
