@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 5, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 20, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 24, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 28, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 33, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 40, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, ../sass/_main.scss */
html, body {
  height: 100%;
}

/* Media */
/* line 8, ../sass/_main.scss */
body {
  line-height: 1.5;
  font-size: 1em;
  font-family: "Roboto Slab", "Apple SD Gothic Neo", gulim, "굴림", sans-serif;
  text-align: center;
  color: #fff;
  background-color: #1E1F29;
}

/* line 17, ../sass/_main.scss */
a {
  color: #fff;
  text-decoration: none;
}
/* line 21, ../sass/_main.scss */
a:link {
  color: #fff;
  text-decoration: none;
}
/* line 26, ../sass/_main.scss */
a:hover {
  color: #E44F26;
}
/* line 30, ../sass/_main.scss */
a:active {
  color: #E44F26;
}

/* line 35, ../sass/_main.scss */
strong {
  color: #E44F26;
  font-weight: bold;
}

/* line 40, ../sass/_main.scss */
em {
  font-style: italic;
}

/* line 45, ../sass/_main.scss */
.section_content:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 54, ../sass/_main.scss */
.header .inner, .section_when .inner, .section_sponsors .inner, .section_location .inner, .section_tickets .inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
  padding: 0 !important;
}

/* line 64, ../sass/_main.scss */
.header {
  position: relative;
  height: 100%;
  background: url("../img/bg_2016_3.jpg") no-repeat center center;
  background-size: cover;
}
/* line 70, ../sass/_main.scss */
.header .inner {
  width: 100%;
  z-index: 2;
}
/* line 77, ../sass/_main.scss */
.header .dimmed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
}
/* line 88, ../sass/_main.scss */
.header .header_title {
  margin: 0 auto;
  text-align: center;
  font-family: "Bungee Inline", "Apple SD Gothic Neo", gulim, "굴림", sans-serif;
  font-size: 6em;
}
/* line 94, ../sass/_main.scss */
.header .header_title img {
  max-width: 100%;
}
/* line 99, ../sass/_main.scss */
.header .header_title_desc {
  font-family: "Bungee Outline", "Apple SD Gothic Neo", gulim, "굴림", sans-serif;
  font-size: 4em;
}

/* line 105, ../sass/_main.scss */
main {
  height: 100%;
}

/* line 109, ../sass/_main.scss */
.section {
  position: relative;
  clear: both;
  border-top: 1px solid #111;
}
/* line 114, ../sass/_main.scss */
.section:nth-of-type(1) {
  border-top: none;
}
/* line 118, ../sass/_main.scss */
.section .inner {
  margin: 0 auto;
  max-width: 1140px;
}
/* line 122, ../sass/_main.scss */
.section .inner:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}

/* line 132, ../sass/_main.scss */
.section_title {
  padding: 120px 20px 0.6em;
  font-size: 3em;
  font-family: "Bungee", "Apple SD Gothic Neo", gulim, "굴림", sans-serif;
  line-height: 1em;
}
/* line 139, ../sass/_main.scss */
.section_title:after {
  content: '';
  display: block;
  width: 60px;
  height: 12px;
  background-color: #2CB2C4;
  border-radius: 6px;
  margin: 20px auto;
}

/* line 150, ../sass/_main.scss */
.section_description {
  padding: 0 20px 120px;
}

/* line 154, ../sass/_main.scss */
.section_description_subject {
  font-size: 1.5em;
  margin-bottom: 2em;
}

/* line 163, ../sass/_main.scss */
.section_about {
  min-height: 100%;
}
/* line 167, ../sass/_main.scss */
.section_about .section_about_logo img {
  width: 50%;
}
/* line 172, ../sass/_main.scss */
.section_about .section_title span {
  font-size: 2em;
}
/* line 176, ../sass/_main.scss */
.section_about .section_description_subject {
  font-size: 1.2em;
  padding: 2em 1em 0em;
}
/* line 181, ../sass/_main.scss */
.section_about .section_about_item {
  padding: 1.6%;
}
/* line 184, ../sass/_main.scss */
.section_about .section_about_item dt {
  font-size: 1.3em;
  font-family: "Roboto Slab", "Apple SD Gothic Neo", gulim, "굴림", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background: url("../img/icon_html_32px.png") no-repeat center top;
  padding-top: 1.8em;
  padding-bottom: 1em;
  color: #30b4c5;
}
/* line 195, ../sass/_main.scss */
.section_about .section_about_item dd {
  margin-bottom: 2.5em;
  text-align: left;
}
/* line 201, ../sass/_main.scss */
.section_about .section_about_item em a {
  display: block;
  color: #999;
  text-align: right;
  margin-top: -1em;
}
/* line 209, ../sass/_main.scss */
.section_about .section_about_item .en {
  display: block;
  padding-top: .5em;
}
/* line 214, ../sass/_main.scss */
.section_about .section_about_item .ko {
  display: block;
  padding-top: .5em;
  text-align: justify;
}
/* line 222, ../sass/_main.scss */
.section_about .section_about_css dt {
  background-image: url("../img/icon_css_32px.png");
}
/* line 227, ../sass/_main.scss */
.section_about .section_about_a11y {
  clear: both;
}
/* line 230, ../sass/_main.scss */
.section_about .section_about_a11y dt {
  background-image: url("../img/icon_accessibility_32px.png");
}
/* line 236, ../sass/_main.scss */
.section_about .section_about_seo dt {
  background-image: url("../img/icon_seo_32px.png");
}

/* line 242, ../sass/_main.scss */
.section_when {
  min-height: 100%;
}
/* line 249, ../sass/_main.scss */
.section_when .section_title:after {
  background-color: #D02E28;
}
/* line 254, ../sass/_main.scss */
.section_when .section_when_item {
  font-size: 2em;
}

/* line 261, ../sass/_main.scss */
.section_schedule .section_title:after {
  background-color: #F99D21;
}
/* line 266, ../sass/_main.scss */
.section_schedule .section_schedule_item {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #3a3c4f;
}
/* line 272, ../sass/_main.scss */
.section_schedule .section_schedule_timetable {
  position: relative;
  text-align: left;
  border-bottom: 1px solid #3a3c4f;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 80px;
}
/* line 280, ../sass/_main.scss */
.section_schedule .section_schedule_timetable .time {
  color: #797da2;
}
/* line 284, ../sass/_main.scss */
.section_schedule .section_schedule_timetable .subject {
  font-size: 1.4em;
}
/* line 288, ../sass/_main.scss */
.section_schedule .section_schedule_timetable .icon {
  position: absolute;
  top: 35%;
  left: 0;
  width: 60px;
  height: 26px;
  background-color: #797da2;
  color: #000;
  text-align: center;
  border-radius: 13px;
}
/* line 302, ../sass/_main.scss */
.section_schedule .section_schedule_timetable.breaktime .subject {
  color: #797da2;
}

/* line 310, ../sass/_main.scss */
.section_speakers .section_title:after {
  background-color: #2CB2C4;
}
/* line 316, ../sass/_main.scss */
.section_speakers .section_speakers_item li {
  display: inline-block;
  width: 44%;
  padding: 0 2%;
  margin-bottom: 3em;
}
/* line 323, ../sass/_main.scss */
html.no-touch .section_speakers .section_speakers_item li:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 330, ../sass/_main.scss */
.section_speakers .section_speakers_item .speakers {
  display: inline-block;
}
/* line 333, ../sass/_main.scss */
.section_speakers .section_speakers_item .speakers .name {
  font-size: 1.2em;
  color: #2CB2C4;
  font-weight: bold;
}
/* line 339, ../sass/_main.scss */
.section_speakers .section_speakers_item .speakers .company {
  font-size: 0.9em;
}
/* line 345, ../sass/_main.scss */
.section_speakers .speakers_info_photo {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 1em;
  border-radius: 50%;
  z-index: 1;
}
/* line 353, ../sass/_main.scss */
.section_speakers .speakers_info_photo img {
  max-width: 100%;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

/* line 363, ../sass/_main.scss */
.section_sponsors {
  min-height: 100%;
}
/* line 371, ../sass/_main.scss */
.section_sponsors .section_title:after {
  background-color: #694EA0;
}
/* line 377, ../sass/_main.scss */
.section_sponsors .section_sponsors_item li {
  display: inline-block;
  padding: 1em 3em;
}
/* line 381, ../sass/_main.scss */
.section_sponsors .section_sponsors_item li img {
  max-width: 100%;
}

/* line 388, ../sass/_main.scss */
.section_location {
  min-height: 100%;
}
/* line 391, ../sass/_main.scss */
.section_location .inner {
  max-width: 100%;
}
/* line 397, ../sass/_main.scss */
.section_location .section_title:after {
  background-color: #E44F26;
}
/* line 402, ../sass/_main.scss */
.section_location .section_description {
  padding-bottom: 30px;
}
/* line 406, ../sass/_main.scss */
.section_location .section_description_subject {
  margin-bottom: 0.5em;
  font-size: 1.7em;
}
/* line 411, ../sass/_main.scss */
.section_location .section_location_address {
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

/* line 417, ../sass/_main.scss */
.section_tickets {
  min-height: 100%;
}
/* line 425, ../sass/_main.scss */
.section_tickets .section_title:after {
  background-color: #A83F62;
}
/* line 431, ../sass/_main.scss */
.section_tickets .section_description_subject span {
  text-decoration: underline;
  font-size: 0.9em;
}
/* line 437, ../sass/_main.scss */
.section_tickets .section_tickets_bank {
  font-size: 1.5em;
  margin-bottom: 2em;
}
/* line 443, ../sass/_main.scss */
.section_tickets .section_tickets_button a {
  display: inline-block;
  font-size: 2em;
  width: 9em;
  height: 2em;
  border-radius: 1.2em;
  background-color: #E44F26;
  padding-top: .4em;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
/* line 456, ../sass/_main.scss */
.section_tickets .section_tickets_button a:hover {
  color: #fff;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 465, ../sass/_main.scss */
.section_tickets .section_tickets_button.soldout a {
  background-color: #eee;
  color: #000;
}
/* line 471, ../sass/_main.scss */
.section_tickets .section_tickets_caution {
  max-width: 90%;
  margin: 4em auto 2em;
  text-align: left;
}
/* line 476, ../sass/_main.scss */
.section_tickets .section_tickets_caution dt {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid #3a3c4f;
  margin-bottom: 1em;
  padding-bottom: .2em;
}
/* line 484, ../sass/_main.scss */
.section_tickets .section_tickets_caution dd {
  text-indent: -20px;
  margin-left: 20px;
  margin-bottom: 10px;
}
/* line 491, ../sass/_main.scss */
.section_tickets .section_tickets_caution i:after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-top: 3px solid #E44F26;
  border-right: 3px solid #E44F26;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 507, ../sass/_main.scss */
.section_qna .section_qna_item {
  margin-bottom: 4em;
}

/* line 514, ../sass/_main.scss */
.remodal-wrapper .remodal {
  text-align: left;
  border-radius: 10px;
}
/* line 518, ../sass/_main.scss */
.remodal-wrapper .remodal h2 {
  padding: 0 15px 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.5em;
}
/* line 524, ../sass/_main.scss */
.remodal-wrapper .remodal .info {
  text-align: right;
}
/* line 527, ../sass/_main.scss */
.remodal-wrapper .remodal p {
  margin-top: 1em;
}
/* line 530, ../sass/_main.scss */
.remodal-wrapper .remodal .remodal-close, .remodal-wrapper .remodal .remodal-close:before {
  left: auto;
  right: 0;
}

@media (min-width: 480px) {
  /* line 6, ../sass/_responsive.scss */
  .section_about .section_about_logo img {
    width: 30%;
  }
  /* line 10, ../sass/_responsive.scss */
  .section_about .section_about_item {
    float: left;
    width: 42%;
    padding: 0 4%;
  }

  /* line 18, ../sass/_responsive.scss */
  .section_schedule .section_schedule_item {
    width: 90%;
  }

  /* line 24, ../sass/_responsive.scss */
  .section_tickets .section_tickets_caution {
    max-width: 90%;
  }
}
@media (min-width: 768px) {
  /* line 30, ../sass/_responsive.scss */
  .section_title {
    font-size: 4.5em !important;
  }

  /* line 36, ../sass/_responsive.scss */
  .section_about .section_about_logo img {
    width: 20%;
  }
  /* line 42, ../sass/_responsive.scss */
  .section_about .section_about .section_description_subject {
    font-size: 1.4em;
  }
  /* line 47, ../sass/_responsive.scss */
  .section_about .section_about_item {
    float: left;
    width: 20%;
    padding: 0 2.5%;
  }
  /* line 53, ../sass/_responsive.scss */
  .section_about .section_about_a11y {
    clear: none;
  }

  /* line 59, ../sass/_responsive.scss */
  .section_schedule .section_schedule_item {
    width: 80%;
  }

  /* line 66, ../sass/_responsive.scss */
  .section_speakers .section_speakers_item li {
    width: 27%;
    padding: 0 2.5%;
    margin-bottom: 5em;
  }
  /* line 72, ../sass/_responsive.scss */
  .section_speakers .section_speakers_item .speakers .name {
    font-size: 1.7em;
  }
  /* line 75, ../sass/_responsive.scss */
  .section_speakers .section_speakers_item .speakers .company {
    font-size: 1.3em;
  }

  /* line 83, ../sass/_responsive.scss */
  .section_tickets .section_tickets_caution {
    max-width: 75%;
  }
}
@media (min-width: 992px) {
  /* line 90, ../sass/_responsive.scss */
  .section_tickets .section_tickets_caution {
    max-width: 60%;
  }
}
@media (max-width: 1023px) {
  /* line 98, ../sass/_responsive.scss */
  .header .header_title {
    font-size: 3em;
  }
  /* line 102, ../sass/_responsive.scss */
  .header .header_title_desc {
    font-size: 2em;
  }

  /* line 107, ../sass/_responsive.scss */
  .section_about, .section_sponsors, .section_location, .section_tickets {
    height: auto;
    min-height: 0;
  }
  /* line 111, ../sass/_responsive.scss */
  .section_about .inner, .section_sponsors .inner, .section_location .inner, .section_tickets .inner {
    position: static;
    top: 0;
    transform: none;
  }
}
@media (min-width: 1200px) {
  /* line 127, ../sass/_responsive.scss */
  .section_schedule .section_schedule_item {
    width: 70%;
  }

  /* line 133, ../sass/_responsive.scss */
  .section_tickets .section_tickets_caution {
    max-width: 60%;
  }
}
